@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar & selection */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}
::selection {
  background-color: #4b5563;
}

/* Progress animation */
@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}

.animate-progress {
  animation: progress 1.5s ease-in-out infinite;
}
