@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar & selection */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}
::selection {
  background-color: #4b5563;
}
